.multiple {
    height: 20px;
    width: 100%;
  }

.show-labels {
  height: 300px;
  width: 100%;
}

.data {
  position: absolute;
  white-space: nowrap;
  text-align: right;
}

.stats-card {
  border: 1px;
  margin: 1px;
  padding: 1px;
}