$title-font: "Shrikhand", "Alegreya", serif;
$text-font: "Raleway", sans-serif;
$disclaimer-font: "Raleway", sans-serif;
$card-font: "Raleway", sans-serif;

$background-color: #FFFDD0;
$title-color: #FA5056;
$slogan-color: #44A9FB;
$text-color: black;
$box-shadow-color: #807E69;
$button-color: #50FA7D;
$loading-color: #FAD243;
$error-color: #FA373D;
$button-text-color: black;
$a-color: #2F7FAD;
$card-color: #FFFEEB;
$text-info-color: #FFF0C4;
$bar-first-color: #f46565;
$bar-second-color: #ffc765;

$disclaimer-size: 80%;
$login-button-size: 175px;

$bar-duration: 1s;